body {
    background-image:url("imagens/fundoespaco.jpg");
    background-repeat:no-repeat;
}

.cabecalho{
    color:aliceblue;
}

#avancar {
    text-decoration:none;
    text-transform:uppercase;
    color:aquamarine;
}

#octocat {
   float:left;
   margin-top:100px;
   
}

.rodape {
    height:30px;
}
